<div class="container">
  <h1 class="heading">Update Restaurant Details</h1>

  <a href="#" routerLink="/post/index" class="btn btn-primary">Back</a>

  <form [formGroup]="form" (ngSubmit)="submit()">

    <div class="form-group">
      <label for="name">Name:</label>
      <input
        formControlName="name"
        id="name"
        type="text"
        class="form-control">
      <div *ngIf="f['name'].touched && f['name'].invalid" class="alert alert-danger">
        <div *ngIf="f['name'].errors?.['required']">Name is required.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="username">City:</label>
      <input
        formControlName="username"
        id="username"
        type="text"
        class="form-control">
      <div *ngIf="f['username'].touched && f['username'].invalid" class="alert alert-danger">
        <div *ngIf="f['username'].errors?.['required']">Username is required.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="city">Description:</label>
      <textarea
        formControlName="city"
        id="city"
        class="form-control">
      </textarea>
      <div *ngIf="f['city'].touched && f['city'].invalid" class="alert alert-danger">
        <div *ngIf="f['city'].errors?.['required']">Description is required.</div>
      </div>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Update</button>
  </form>
</div>

